@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&family=Rubik:wght@600;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* Assicurati di avere il font Poppins caricato */
    background-color: black;
    /* Sostituisci con il tuo colore di sfondo */
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* YEA */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

nav #logo {
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

nav #logo:hover {
    text-decoration: none;
}

nav #logo:hover .material-symbols-outlined {
    filter: drop-shadow(0 0 10px rgba(32, 32, 32, 0.5));
}

nav #menu-icon {
    float: left;
    font-size: 1.5em;
    cursor: pointer;
    padding-bottom: 10px;
    margin-top: -20px;
}

.material-symbols-outlined {
    /*font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;*/
    display: inline-block;
    color: #555;
    transition: .2s;
}

.material-symbols-outlined:hover {
    color: rgb(248, 248, 248);
    cursor: pointer;
    transition: .3s;
}

.friend-interaction:hover {
    filter: drop-shadow(0 0 10px #cecece88);
}

.send-money:hover {
    color: #089981 !important;
    filter: drop-shadow(0 0 6px #07816dad);
}

nav #menu-icon:hover {
    filter: drop-shadow(0 0 10px rgba(32, 32, 32, 0.5));
}

nav .top-right-links {
    display: flex;
    align-items: center;
}

nav .top-right-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: .2s;
}

nav .top-right-links a:hover {
    text-decoration: underline;
    filter: drop-shadow(0 0 30px rgb(110, 214, 255));
    transition: .4s;
}

h1 {
    font-weight: 700;
    font-size: 5.5em;
    width: 70%;
    margin: 0 auto;
}

#left-div {
    width: 60%;
    float: left;
}

#right-div {
    width: 40%;
    float: left;
}

.account-info {
    overflow: hidden;
    /* Aggiungi overflow hidden per evitare problemi di layout */
    padding-left: 10px;
}

.account-balance {
    padding-left: 15px;
}

.dashboard-table {
    border-spacing: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#account-info-cell {
    width: 70%;
}


.dashboard-table .dashboard-cell {
    background-color: rgba(7, 7, 7, 1);
    border: 1px solid rgb(34, 34, 34);
    border-radius: 10px;
    padding: 20px;
    transition: .3s ease-in-out;
}

.dashboard-table .dashboard-cell:hover {
    filter: drop-shadow(0 0 50px rgba(32, 32, 32, 0.5));
    background-color: rgb(15, 15, 15);
    transition: .2s ease-in-out;
}

.friends tr {}


.account-info h2,
.account-info p,
.account-balance h3,
.positions h3 {
    color: #fff;
}

.account-info h3 {
    display: inline-block;
    margin-top: -10px;
}

.positions,
.friends h3 {
    padding-left: 12px;
}

.copy-btn {
    margin-left: 5px;
}

#btn-inviz {
    visibility: hidden;
}

.account-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
}

#account-dashboard {
    font-weight: 400;
    font-size: 2.5em;
    vertical-align: middle;
    text-align: left;
}

#div-account-dashboard {
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
}

.account-info p {
    font-size: 18px;
}

.wallet-info,
.chart-container {
    margin-top: 20px;
}

.wallet-info {
    margin-top: -10px;
}

.hash-container {
    display: flex;
    align-items: center;
    width: 40%;
}

#username {
    vertical-align: middle;
    margin-top: 0;
}

#wallet-hash {
    flex-grow: 1;
    padding: 10px;
    background: transparent;
    border: 1px solid #272727;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

#wallet-hash:hover {
    background-color: #272727;
    transition: .5s;
}

button {
    padding: 15px;
    background-color: #222222;
    font-size: 1.05em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    vertical-align: middle;
    text-align: center;
}

button:hover {
    background-color: #595858;
    filter: drop-shadow(0 0 15px rgba(48, 48, 48, 0.5));
    transition: .2s;
}


/* TABELLAAA */
#search-results-wider {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #030303;
    margin-top: 35px;
    border-collapse: collapse;
    margin-bottom: 40px;
    border: 1px solid #3f3f3f4f;
}

#search-results-wider td {
    padding-left: 5px;
}

#search-results-wider th {
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
}

#top-row th {
    border: 1px solid #3f3f3f4f;
    transition: .3s;
}

#top-row th:hover {
    transition: .3s;
    background-color: #089981;
    filter: drop-shadow(0 0 10px #087260);
}


#th-crypto {
    width: 40%;
}

#th-crypto-price {
    width: 10%;
}

#th-crypto-variation {
    width: 10%;
}

#th-crypto-amount {
    width: 40%;
}

.td-det-crypto-img {
    text-align: center;
    width: 4%;
}

.crypto-img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    margin-left: 2px;
    vertical-align: middle;
}

.td-det-crypto-code {
    text-align: left;
    font-weight: bold;
    width: 10%;
}

.td-det-crypto-name {
    text-align: left;
    width: 26%;
}

.td-det-crypto-price {
    text-align: left;
    color: #88ffba;
    filter: drop-shadow(0 0 13px #4ec7807e);
    animation: glowAnimation 1s infinite alternate;
}

.td-det-crypto-variation {
    text-align: left;
    color: #88ffba;
}

.td-det-crypto-amount {
    text-align: right;
    padding-right: 15px;
}

/* LOADER */
#loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #089981;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
    margin-right: 5px;
}

#wallet-button.loading span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

#friends {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    border-radius: 10px;
    filter: drop-shadow(0 0 13px rgba(32, 32, 32, 0.288));
    margin-top: 35px;
    visibility: hidden;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-bottom: 1px solid #3f3f3f4f;
    transition: .3s;
}

.search-result-item:hover {
    background-color: #3f3f3f4f;
    cursor: pointer;
    transition: .2s;
    filter: drop-shadow(0 0 10px rgba(83, 83, 83, 0.404));
}

.friends {
    position: relative;
}

#already-friend {
    float: left;
    width: 100px;
    margin-left: 20px;
}

#friends-table {
    float: right;
    margin-right: 35px;
}

#no-friends {
    float: left;
    padding-left: 12px;
    margin-top: -2px;
}

.search-bar-right-holder {
    margin-right: 5px;
    margin-top: 50px;
    width: 40%;
    position: absolute;
    top: 12px;
    right: 12px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar-wide {
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    border-radius: 5px;
    padding: 5px;
}

.search-input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px;
    outline: none;
}

#deposit-amount-input, #withdraw-amount-input {
    background-color: #030303;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s;
    width: 165px;
    margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#deposit-amount-input:hover, #withdraw-amount-input:hover {
    background-color: #272727;
    transition: .2s;
}

.confirm-button {
    margin-left: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.transaction-button {
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    transition: .3s;
    margin-right: 10px;
}

.ok-button {
    margin-left: 5px;
    margin-right: 10px;
}

.deposit-button {
    background-color: #089981;
    filter: drop-shadow(0 0 10px #0899816c);
    transition: .3s;
}

.withdraw-button {
    background-color: #F23645;
    filter: drop-shadow(0 0 10px #f236466c);
    transition: .3s;
}

.deposit-button:hover {
    background-color: #089981;
    color: black;
    filter: drop-shadow(0 0 18px #0dbb9e63);
    transition: .2s;
}

.withdraw-button:hover {
    background-color: #F23645;
    color: black;
    filter: drop-shadow(0 0 18px #fa435250);
    transition: .2s;
}

#friends-table {
    border-collapse: collapse;
    margin-top: 35px;
    margin-right: 15px;
    width: 300px;
}

#left-title,
#right-title {
    display: inline;
}

#left-title {
    float: left;
    vertical-align: middle;
}

#right-title {
    float: right;
    vertical-align: middle;
    padding-right: 20px;
}

#friend-titles {
    width: 100%;
    height: 50px;
    padding-bottom: 20px;
}

.friend-result-item td {
    padding: 15px;
}

.friend-first-td {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.friend-last-td {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.friend-result-item {
    transition: .3s;
    background-color: transparent;
    width: 200px;
}

.friend-result-item:hover {
    background-color: #030303;
    filter: drop-shadow(0 0 20px #3b3b3b2d);
    transition: .2s;
}

.friend-result-item span {
    float: right;
}

#logout, #logout:visited{
    margin-left: auto;
    margin-right: auto;
    color: #757575;
    margin-bottom: 20px;
    transition: .3s;
}

#logout:hover{
    color: #e7e7e7;
    filter: drop-shadow(0 0 10px #e2e2e244);
    transition: .2s;
}