@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&family=Rubik:wght@600;800&display=swap');

.top-right-links {
    position: absolute; 
    top: 20px; 
    right: 20px;
    font-size: 1em; 
    margin-right: 10px;
}

.top-right-links a {
    color: #fff; 
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    transition: .2s;
}

.top-right-links a:hover {
   text-decoration: underline;
   filter: drop-shadow(0 0 30px rgb(110, 214, 255));
   transition: .4s;
}

@keyframes spin {
    0% {
     --rotate: 0deg;
    }
    25% {
        --rotate: 120deg;
    }
    55%{
        --rotate:180deg;
    }
    80%{
        --rotate:300deg;
    }
    100% {
     --rotate: 360deg;
    }
   }

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes glowAnimation {
    0% {
        filter: drop-shadow(0 0 10px #4ec7807e);
        color: #67df99;
    }
    100% {
        filter: drop-shadow(0 0 13px #afffd7);
        color: #90ffbe;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #000;
    color: #fff;
    background-image: url('grain.png');
    /* DA CAMBIARE L'IMMAGINE */
}


.container {
    text-align: center;
    margin-top: 20vh;
}

h1 {
    font-weight: 700;
    font-size: 5.5em;
    width: 70%;
    margin: 0 auto;
}

/* Descrizione */
.description {
    font-size: 1.5em;
    margin: 20px 0;
    color: #d8d5d5;
}

/* FORM DI RICERCA */
.search-form {
    display: inline-block;
    width: 80%;
    margin-top: 30px;
}

/* BARRA DI RICERCA*/
.search-bar {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: 2s;
}

.search-bar::before {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 50px;
    background-image: linear-gradient(var(--rotate),
            #5ddcff, #3c67e3 43%, #4e00c2);
    z-index: -1;
    animation-name: spin;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
}

.search-bar:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background-image: linear-gradient(var(--rotate),
            #5ddcff, #3c67e3 43%, #4e00c2);
    filter: blur(25px);
    z-index: -1;
    animation-name: spin;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    opacity: 0;
    transition: all .4s;
}


.search-bar:hover:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background-image: linear-gradient(var(--rotate),
            #5ddcff, #3c67e3 43%, #4e00c2);
    filter: blur(25px);
    z-index: -1;
    opacity: 0.7;
    animation-name: spin;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .7s;
}

.search-input {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 50px;
    background-color: #000;
    color: #ebebeb;
    font-size: 1.5em;
    outline: none;
}

.search-input::placeholder {
    color: #555;
    transition: .7s;
}

.search-input:hover::placeholder {
    color: #b1afaf;
    transition: .4s;
}

.material-symbols-outlined {
    position: relative;
    right: 40px;
    margin-right: -35px;
    padding-right: 4px;
    /*font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;*/
    display: inline-block;
    color: #555;
    transition: .2s;
}
.material-symbols-outlined:hover {
    color: rgb(248, 248, 248);
    cursor: pointer;
    transition: .3s;
}
span.size-medio{
    font-size: 32px;
}

/* SLOT CRIPTOVALUTE */
.crypto-slots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Slot singolo */
.crypto-slot {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #d3d3d3;
    margin: 0 10px;
    padding: 15px;
    transition:  .3s ease;
}

.crypto-slot:hover {
    background-color: #3f3f3f4f;
    filter: drop-shadow(0 0 10px rgba(83, 83, 83, 0.404));
    cursor: pointer;
    transition: .2s ;
}

.crypto-slot .crypto-descr{
    font-size: 0.9em;
    color: #88ffba;
    filter: drop-shadow(0 0 13px #4ec7807e);
    animation: glowAnimation 1s infinite alternate;
}

.crypto-slot .crypto-code{
    vertical-align: middle;
    margin-right: 10px;
}

.crypto-img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    margin-left: 2px;
    vertical-align: middle;
}

/* RISULTATI DI RICERCA */
#search-results{
    width: 60%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    border-radius: 10px;
    filter: drop-shadow(0 0 13px rgba(32, 32, 32, 0.288));
    margin-top: 35px;
    visibility: hidden;
}

.search-result-item{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    border-bottom: 1px solid #3f3f3f4f;
    transition: .3s;
}
.search-result-item:hover{
    background-color: #3f3f3f4f;
    cursor: pointer;
    transition: .2s;
    filter: drop-shadow(0 0 10px rgba(83, 83, 83, 0.404));
}

.search-result-item img{
    float: left;
    padding-left: 25px;
}

.search-result-item .crypto-code{
    float: left;
    padding-left: 15px;
    font-weight: bold;
}

.search-result-item .crypto-supply{
    float: right;
    padding-right: 25px;
}
